body {
z-index: 100;
}
#sfondo {
  width: 100%;
  height: 100%;
  background-image: url(16007438-Astratto-sfondo-scientifico-il-pianeta-Terra-in-cielo-rosso-scuro-con-elementi-lampi-di-questa-immag-Archivio-Fotografico.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
