li {list-style: none;}
body {
background: url('http://www.plef.org/wp-content/uploads/2013/11/1spazio_pianeta_terra_nuvole1.jpg');
background-repeat: no-repeat;
background-position: 0 0;
-moz-background-size: cover;
-webkit-background-size: cover;
background-size: cover;
}


body {
background: url('');
background-repeat: no-repeat;
background-position: 0 0;
-moz-background-size: cover;
-webkit-background-size: cover;
background-size: cover;
}
