li {list-style: none;}
body {
background: url('http://www.plef.org/wp-content/uploads/2013/11/1spazio_pianeta_terra_nuvole1.jpg');
background-repeat: no-repeat;
background-position: 0 0;
-moz-background-size: cover;
-webkit-background-size: cover;
background-size: cover;
}


*{
  padding: 0;
  margin: 0;
}

#wrap {
  width: 960px;
  margin: 0 auto;
}

#wrap ul li {
  position: relative;
  float: left;
}

#wrap ul li a {
  display: block;
  padding: 10px 20px;
  background: #eee;
  color: #333;
  text-decoration: none;
}

#wrap ul li ul {
  position: absolute;
  top: 38px;
  left: 0;
}










