body {
background-image: url(http://previews.123rf.com/images/_ig0rzh_/_ig0rzh_1210/_ig0rzh_121000036/16007438-Astratto-sfondo-scientifico-il-pianeta-Terra-in-cielo-rosso-scuro-con-elementi-lampi-di-questa-immag-Archivio-Fotografico.jpg);
background-repeat: no-repeat;
background-size: 100% 100%;
opacity: 0.5;
}
