li {list-style: none;}


body {
background-image: url();
background-repeat: no-repeat;
background-size: 100% 100%;
}


}
#wrap {
  width: 100%;
  margin: 0 auto;
  background-color #eee;
}

#wrap ul li {
  position: relative;
  float: left;
}

#wrap ul li a {
  display: block;
  padding: 10px 20px;
  background: #eee;
  color: #333;
  text-decoration: none;
}

#wrap ul li a:hover {
  background: #333;
  color: #eee;
}


#wrap ul li ul {
  display: none;
  position: absolute;
  top: 38px;
  left: 0;
}

#wrap ul li:hover ul {
  display: block;
}

#wrap ul li ul li {
  float: none;
  white-space: nowrap;
}

